{{- $antidoteVersion := (gitHubLatestRelease "mattmc3/antidote").TagName -}}
[".config/zsh/.antidote"]
  type = "archive"
  url = "https://github.com/mattmc3/antidote/archive/refs/tags/{{ $antidoteVersion }}.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "24h"
