#!{{ lookPath "sh" }}

set -e

{{ if eq .chezmoi.os "darwin" -}}

## Notes:
# - if you have existing `brew` installation not in `/opt/homebrew`
#   it will not work with this script
# Check if Homebrew is already installed
if ! command -v brew &>/dev/null; then
  echo "installing Homebrew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  echo "homebrew is already installed."
fi

# Check if Command Line Tools are already installed
if ! xcode-select -p &> /dev/null; then
  echo "installing Command Line Tools..."
  xcode-select --install
else
  echo "command Line Tools are already installed."
fi

# Check if Rosetta is already installed
if ! /usr/bin/pgrep -q oahd; then
  echo "installing Rosetta..."
  softwareupdate --install-rosetta --agree-to-license
else
  echo "rosetta is already installed."
fi

{{ end -}}
