{
	"auths": {},
	{{ if has "laku6" .workspaces -}}
	"credHelpers": {
		"asia-docker.pkg.dev": "gcloud",
		"asia-east1-docker.pkg.dev": "gcloud",
		"asia-southeast1-docker.pkg.dev": "gcloud"
	},
	{{- else -}}
	"credHelpers": "desktop",
	{{- end }}
	"currentContext": "desktop-linux"
}